build/*
dist/*
old/*
target/*
scripts/*
log.out
examples/*/lib/*.jar
.settings/*
.project
.classpath
.codepro
query.jar
examples/stateless-simple-query/bin/*
*.class
*test*
seep-system/examples/stateless-simple-query/.settings/
seep-system/examples/stateless-simple-query/lib/*
