build/*
dist/*
old/*
target/*
scripts/*
log.out
examples/*/lib/*.jar
.settings/*
*/.settings/*
*/.settings/
.project
.classpath
.codepro
.gradle
query.jar
examples/stateless-simple-query/bin/*
*.class
*/bin/
seep-common/build/*
seep-master/build/*
seep-worker/build/*
seep-java2sdg/build/*
seep-java2sdg/target/seep-java2sdg-0.0.1-SNAPSHOT.jar
seep-java2sdg/target/
seep-contribs/target/
seep-streamsql/target/
seep-java2sdg/showGraph.sh
.DS_Store
/bin/
