<!--
  Copyright (c) 2014 Imperial College London
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Raul Castro Fernandez - initial API and implementation
-->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="uk.ac.imperial.lsds.seep.infrastructure.monitor" level="OFF"/>
  <logger name="uk.ac.imperial.lsds.seep.comm.routing.Router" level="INFO"/>
  <logger name="uk.ac.imperial.lsds.seep.comm.IncomingDataHandlerWorker" level="DEBUG"/>
  <logger name="uk.ac.imperial.lsds.seep.runtimeengine.OutOfOrderInputQueue" level="INFO"/> 
  <logger name="uk.ac.imperial.lsds.seep.runtimeengine.ControlDispatcher" level="DEBUG"/>
  <logger name="uk.ac.imperial.lsds.seep.manet.BackpressureRouter" level="DEBUG"/>
  <logger name="uk.ac.imperial.lsds.seep.operator.Operator" level="INFO"/>
  <logger name="uk.ac.imperial.lsds.seep.runtimeengine.OutputQueue" level="DEBUG"/>
  <logger name="uk.ac.imperial.lsds.seep.processingunit.Dispatcher" level="DEBUG"/>
  <logger name="uk.ac.imperial.lsds.seep.acita15.operators.Source" level="INFO"/>
  <logger name="uk.ac.imperial.lsds.seep.acita15.operators.Processor" level="INFO"/>
  <logger name="uk.ac.imperial.lsds.seep.runtimeengine.SynchronousCommunicationChannel" level="INFO"/>
  
</configuration>
